.container {
  display: flex;
  height: 100vh;
}

.formContainer {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1c1c1e;
  color: white;
  padding: 20px;
}

.link {
  color: white;
}

h2 {
  margin-bottom: 20px;
}

.inputField {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  background-color: #fca311;
  color: #1c1c1e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.imageContainer {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.backgroundImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.welcome {
  color: #ada4a4; /* Cor do texto "Welcome" */
  font-size: 16px; /* Tamanho da fonte */
  text-align: center;
}

.logoName {
  color: white;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  margin: 0px;
  padding: 3px;
  border-top: solid #fca311 2px; /* Adicione uma borda branca de 4px */
  border-bottom: solid #fca311 2px; /* Adicione uma borda branca de 4px */
}
